@media(max-width:900px){

.hero-container{

    flex-direction:column;
    text-align:center;

}
.ai-card{

    width:90%;

}
}
@media(max-width:900px){

.ai-cards{

    grid-template-columns:1fr;

}
.section-title h2{

    font-size:2.2rem;

}
}
@media(max-width:900px){

.tools-grid{

    grid-template-columns:1fr;

}
}